asgiref==3.9.1
certifi==2025.11.12
charset-normalizer==3.4.4
diff-match-patch==20241021
distlib==0.3.9
dj-database-url==3.0.1
Django==5.2.4
django-import-export==4.3.14
django-widget-tweaks==1.5.0
filelock==3.18.0
idna==3.11
platformdirs==4.3.8
psycopg-binary==3.2.9
psycopg2-binary==2.9.10
python-nmap==0.7.1
requests==2.32.5
sqlparse==0.5.3
tablib==3.9.0
tzdata==2025.2
urllib3==2.6.2
virtualenv==20.31.2
windows-curses==2.4.1
